df-ucb-dw-apple-2402/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-ucb-dw-apple-2402"
		},
		"ls_sa_apple_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_sa_apple\""
		},
		"ls_sql_apple_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"ls_sql_apple\""
		},
		"ls_sql_apple_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "rg-sisinfo-server-apple-10722303.database.windows.net"
		},
		"ls_sql_apple_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_apple"
		},
		"ls_sql_apple_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Javi"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script_format",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Script_Creador_SCHEMA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_apple",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "-- 1. CATEGORY\nDROP TABLE IF EXISTS [bronze].[category];\nCREATE TABLE [bronze].[category] (\n    [category_id] varchar(100),\n    [category_name] varchar(100),\n    [extra_note] varchar(100)\n);\n\n-- 2. PRODUCTS\nDROP TABLE IF EXISTS [bronze].[products];\nCREATE TABLE [bronze].[products] (\n    [product_id] varchar(100),\n    [product_name] varchar(200),\n    [category_id] varchar(100),\n    [launch_date] varchar(100),\n    [price] varchar(100),\n    [notes] varchar(100)\n);\n\n-- 3. STORES\nDROP TABLE IF EXISTS [bronze].[stores];\nCREATE TABLE [bronze].[stores] (\n    [store_id] varchar(100),\n    [store_name] varchar(200),\n    [city] varchar(100),\n    [country] varchar(100),\n    [opened] varchar(100)\n);\n\n-- 4. SALES\nDROP TABLE IF EXISTS [bronze].[sales];\nCREATE TABLE [bronze].[sales] (\n    [sale_id] varchar(100),\n    [sale_date] varchar(100),\n    [store_id] varchar(100),\n    [product_id] varchar(100),\n    [quantity] varchar(100)\n);\n\n-- 5. WARRANTY\nDROP TABLE IF EXISTS [bronze].[warranty];\nCREATE TABLE [bronze].[warranty] (\n    [claim_id] varchar(100),\n    [claim_date] varchar(100),\n    [sale_id] varchar(100),\n    [repair_status] varchar(100)\n);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Script_Creador_SCHEMA",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_apple",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "\nIF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'bronze')\nBEGIN\n    EXEC('CREATE SCHEMA [bronze]')\nEND"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "df_bronze_category",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Script_format",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_category",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bronze_products",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_bronze_category",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bronze_sales",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_bronze_products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bronze_stores",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_bronze_sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_stores",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bronze_warranty",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_bronze_stores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_warranty",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_category')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_products')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_sales')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_stores')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script_creacion_SCHEMA",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_apple",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'silver')\nBEGIN\n    EXEC('CREATE SCHEMA [silver]')\nEND"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Script_formato",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Script_creacion_SCHEMA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_apple",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DROP TABLE IF EXISTS [silver].[category];\nCREATE TABLE [silver].[category] (\n    [category_id] VARCHAR(50) PRIMARY KEY, -- Ya definimos llave primaria\n    [category_name] VARCHAR(100),\n    [extra_note] VARCHAR(255)\n);\n\n-- ---------------------------------------------------------\n-- TABLA PRODUCTS (Silver)\n-- Limpieza esperada: Fechas reales, Precios numéricos\n-- ---------------------------------------------------------\nDROP TABLE IF EXISTS [silver].[products];\nCREATE TABLE [silver].[products] (\n    [product_id] VARCHAR(50) PRIMARY KEY,\n    [product_name] VARCHAR(200),\n    [category_id] VARCHAR(50),\n    [launch_date] DATE,           -- Aquí ya debe llegar como fecha (YYYY-MM-DD)\n    [price] DECIMAL(10, 2),       -- Importante: Dinero con 2 decimales\n    [notes] VARCHAR(100)\n);\n\n-- ---------------------------------------------------------\n-- TABLA STORES (Silver)\n-- Limpieza esperada: Año 'opened' como número (corregir '20O9')\n-- ---------------------------------------------------------\nDROP TABLE IF EXISTS [silver].[stores];\nCREATE TABLE [silver].[stores] (\n    [store_id] VARCHAR(50) PRIMARY KEY,\n    [store_name] VARCHAR(200),\n    [city] VARCHAR(100),\n    [country] VARCHAR(100),\n    [opened] INT                  -- El año debe ser entero\n);\n\n-- ---------------------------------------------------------\n-- TABLA SALES (Silver)\n-- Limpieza esperada: Fechas estándar, cantidades numéricas\n-- ---------------------------------------------------------\nDROP TABLE IF EXISTS [silver].[sales];\nCREATE TABLE [silver].[sales] (\n    [sale_id] VARCHAR(50) PRIMARY KEY,\n    [sale_date] DATE,             -- Fecha limpia\n    [store_id] VARCHAR(50),\n    [product_id] VARCHAR(50),\n    [quantity] INT                -- Número entero\n);\n\n-- ---------------------------------------------------------\n-- TABLA WARRANTY (Silver)\n-- Limpieza esperada: Estados estandarizados (Pending/Completed)\n-- ---------------------------------------------------------\nDROP TABLE IF EXISTS [silver].[warranty];\nCREATE TABLE [silver].[warranty] (\n    [claim_id] VARCHAR(50) PRIMARY KEY,\n    [claim_date] DATE,\n    [sale_id] VARCHAR(50),\n    [repair_status] VARCHAR(50)\n);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_category_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "category.csv",
						"container": "dataset-entrada"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "category_id",
						"type": "String"
					},
					{
						"name": "category_name",
						"type": "String"
					},
					{
						"name": "extra_note",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_products_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "products.csv",
						"container": "dataset-entrada"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Product_ID",
						"type": "String"
					},
					{
						"name": "Product_Name",
						"type": "String"
					},
					{
						"name": "Category_ID",
						"type": "String"
					},
					{
						"name": "Launch_Date",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "notes",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sales.csv",
						"container": "dataset-entrada"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "store_id",
						"type": "String"
					},
					{
						"name": "product_id",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_bronze_category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "category_id",
						"type": "varchar"
					},
					{
						"name": "category_name",
						"type": "varchar"
					},
					{
						"name": "extra_note",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "category"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_bronze_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "product_id",
						"type": "varchar"
					},
					{
						"name": "product_name",
						"type": "varchar"
					},
					{
						"name": "category_id",
						"type": "varchar"
					},
					{
						"name": "launch_date",
						"type": "varchar"
					},
					{
						"name": "price",
						"type": "varchar"
					},
					{
						"name": "notes",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_bronze_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sale_id",
						"type": "varchar"
					},
					{
						"name": "sale_date",
						"type": "varchar"
					},
					{
						"name": "store_id",
						"type": "varchar"
					},
					{
						"name": "product_id",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_bronze_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "store_id",
						"type": "varchar"
					},
					{
						"name": "store_name",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "opened",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "stores"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_bronze_warranty')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "claim_id",
						"type": "varchar"
					},
					{
						"name": "claim_date",
						"type": "varchar"
					},
					{
						"name": "sale_id",
						"type": "varchar"
					},
					{
						"name": "repair_status",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "warranty"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stores_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "stores.csv",
						"container": "dataset-entrada"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Store_ID",
						"type": "String"
					},
					{
						"name": "Store_Name",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "opened",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_warranty_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "warranty.csv",
						"container": "dataset-entrada"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "claim_id",
						"type": "String"
					},
					{
						"name": "claim_date",
						"type": "String"
					},
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "repair_status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sa_apple')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_sa_apple_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_apple')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_apple_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_apple_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_apple_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_apple_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_category')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "BRONZE"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_category_CSV",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_category",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          category_id as string,",
						"          category_name as string,",
						"          extra_note as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          category_id as string,",
						"          category_name as string,",
						"          extra_note as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          category_id,",
						"          category_name,",
						"          extra_note",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_category_CSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_bronze_category')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "BRONZE"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_products_CSV",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_products",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Product_ID as string,",
						"          Product_Name as string,",
						"          Category_ID as string,",
						"          Launch_Date as string,",
						"          Price as string,",
						"          notes as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          product_id as string,",
						"          product_name as string,",
						"          category_id as string,",
						"          launch_date as string,",
						"          price as string,",
						"          notes as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          product_id = Product_ID,",
						"          product_name = Product_Name,",
						"          category_id = Category_ID,",
						"          launch_date = Launch_Date,",
						"          price = Price,",
						"          notes",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_products_CSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_bronze_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_sales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "BRONZE"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sales_CSV",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_sales",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          sale_id as string,",
						"          sale_date as string,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          sale_id as string,",
						"          sale_date as string,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          sale_id,",
						"          sale_date,",
						"          store_id,",
						"          product_id,",
						"          quantity",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_bronze_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_stores')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "BRONZE"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_stores_CSV",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_stores",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Store_ID as string,",
						"          Store_Name as string,",
						"          City as string,",
						"          Country as string,",
						"          opened as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          store_id as string,",
						"          store_name as string,",
						"          city as string,",
						"          country as string,",
						"          opened as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          store_id = Store_ID,",
						"          store_name = Store_Name,",
						"          city = City,",
						"          country = Country,",
						"          opened",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stores_CSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_bronze_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_warranty')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "BRONZE"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_warranty_CSV",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_warranty",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          claim_id as string,",
						"          claim_date as string,",
						"          sale_id as string,",
						"          repair_status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          claim_id as string,",
						"          claim_date as string,",
						"          sale_id as string,",
						"          repair_status as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          claim_id,",
						"          claim_date,",
						"          sale_id,",
						"          repair_status",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_warranty_CSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_bronze_warranty')]"
			]
		}
	]
}